<!DOCTYPE html>
<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <header>
                <h1><a href="/">Django Blog</a></h1>
        </header>

        <article>
            <time>published: 22.12.2022, 09:32</time>
            <h2><a href="">My first post</a></h2>
            <p>Ok questo è un testo di prova</p>
        </article>

        <article>
            <time>published: 22.12.2022, 09:32</time>
            <h2><a href="">My first post</a></h2>
            <p>Ok questo è un testo di prova</p>
        </article>
    </body>
</html>